
body{
    text-align: center;
    color: #F9F3CC;
    max-width:100rem;
    margin: 0 auto;
}
.container-fluid{
    min-height: 100vh;
   padding: 0;
   overflow: hidden;

}
.wrapper{
    background-color: black;
}
.desk{
    width: 100%;
    height: 25rem;
    opacity: 30%;
}


.rowname{
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
}
h1{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    
    
}
.white-color{
    color: white;

}

.b-letter{
    color: #D7E5CA;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 7%;
}
.w-letter{
    font-family: 'Dancing Script', cursive;
}
.black-color{
    color: black;

}
.w-desing{
    margin-top:20px;
    font-size: 30px;
    font-family: 'Sacramento',cursive;
}
.space {
    margin-left: 5px; /* Adjust the margin as needed */
}

.row-logo-container{
    position: relative;
   top: 100px;
   margin-bottom: 100px;
    
}
.rowlogo {
    position: absolute;
    border: 5px solid white;
    left: 50%; /* Center the logo horizontally */
    transform: translateX(-50%); /* Move the logo to the center */
    bottom: 0%;
    border-radius: 50%;
    background-color: #D2E0FB;
    background-size: cover;
    background-image:url("./img/profile.png");
    /* background-position: center center; */
    background-position: 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}
.section-two h4{
   font-size: 24px;
}

.about-text,.myskills-text{
    font-size: 100%;
    text-transform: uppercase;
    font-family: 'Sacramento', cursive;
}

.personal-text{
    font-size: 30px;
    color: black;
    text-transform: uppercase;
}

.color-highlight{
    color: #8EACCD;
    
   
}
.row-info{
    margin-bottom: 25px;
}
p{
    color: black;
    width: 70%;
    margin: 0 auto;
}
p,.justify{
    text-align: justify;
}

.info-icon{
   margin-top: 10px;
  
}
.adress p{
    text-align: center;
}
.icon{
    margin: 0 auto;
    border: 3px solid #8EACCD;
    width: 3rem;
    height: auto;
    border-radius: 50%;
   
   
}
.skill-section{
   position: relative;
}
.myskills{
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
}
.desc-skill{
    text-transform: uppercase;
}
a{
    color: white;
    text-decoration: none;
    margin: 10px;
}
table{
    margin: 10px auto;
}
td{
    padding: 5px;
    font-size: 16px;
    text-transform: uppercase;
}
.enire-carier{
    width: 80%;
    margin: 0 auto;
    
}
.first-Education,.seconde-education{
    margin-bottom: 10%;
    border-right: 1px solid black;
}
.header-title-carrier,.header-title-work{
    border: 1px solid #8EACCD;
    margin: 10% 0px;
    text-align: center;

}
.tex-des-carrier{
    margin-top: 50%;

    
}
.header-title-carrier{
   width: 50%;
}
.header-title-work{
    width: 80%;
}
.month-title{
    font-size: 1rem;
    font-family: 'Montserrat-bold';
    
}
.school-name{
    font-size: 1.3rem;
}
.year-text{
    font-size: 1.6rem;
    font-weight: 400;
}




@media (max-width: 992px) { 
   .header-title-carrier,.header-title-work{
    margin: 5% auto;

   }
   .header-title-work{
    width: 50%;
   }

   .first-Education,.seconde-education{
    border-right: 1px solid black;
    padding: 0;
}
.tex-des-carrier{
    width: 100%;
    margin: 0;
}
.tex-des-carrier>p{
   
    width: 100%;
}

}
